./data/
data/
./data/*

examples/**/*.md
examples/**/*.json
examples/**/*.xlsx
examples/**/*.pdf
examples/**/*.arrow
exports/**/*.json

.venv
.venv/
.venv_dev/
.env

.DS_Store
**/*.DS_Store

*.db
__pycache__

# pypi distribution stuff
dist/
build/
*.egg-info
*.bak


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
app/.elasticbeanstalk/*

.terraform
.terraform/*
!.terraform/*.tfstate
!.terraform/*.tfstate.backup
.terraform.lock.hcl
.terraform.tfstate.lock.info
iac/terraform.tfstate.backup
*/terraform.tfstate
